.profile-header{

display:flex;

align-items:center;

gap:30px;

background:white;

padding:40px;

border-radius:20px;

margin-bottom:30px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.profile-header{

display:flex;

align-items:center;

gap:30px;

background:white;

padding:40px;

border-radius:20px;

margin-bottom:30px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.profile-card{

background:white;

padding:30px;

border-radius:18px;

margin-bottom:25px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

