.wishlist-btn{

position:absolute;

top:15px;

right:15px;

width:45px;

height:45px;

border:none;

border-radius:50%;

background:white;

cursor:pointer;

font-size:18px;

transition:.3s;

box-shadow:0 5px 20px rgba(0,0,0,.15);

}

.wishlist-btn:hover{

transform:scale(1.1);

}

.wishlist-btn.saved{

background:#D4AF37;

color:white;

}

